p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 70px;
    margin: 10;
}


img {
    
    width:400px;
    height:341px;
    left: 37%;
    top: 37%;
    position: absolute;
    margin-top: 10px !important; 
}
   